html,
body {
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 44px 0 0;
  font-family: $roboto;
  position: relative;
  transition: none;
}
a {
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  &:hover {
    text-decoration: none;
  }
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  li {
    padding: 0;
    margin: 0;
  }
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}
.cta-btn {
  line-height: 50px;
  border-radius: 10px;
  padding: 0 40px;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  &-primary {
    background: $primary;
    color: $white;
    &:hover {
      background: $primary-h;
      color: $white;
    }
  }
  &-secondary {
    background: $black;
    color: $white;
    &:hover {
      background: $black-h;
      color: $white;
    }
  }
  @include under-lg {
    line-height: 44px;
    padding: 0 30px;
    font-size: 16px;
  }
}
.view-more-floors {
  background: $white;
  padding: 0 30px;
  line-height: 50px;
  border-radius: 10px;
  color: $primary-dark;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    background: $primary-h;
    color: $white;
  }
}
.input-style {
  display: block;
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  background: $white;
  border: none;
  box-shadow: 0 0 5px rgba($primary-dark, $alpha: 0.3);
  border-radius: 5px;
  resize: none;
  &:placeholder-shown {
    background-color: #ededed;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba($primary-dark, $alpha: 1);
  }
}
textarea.input-style {
  min-height: 200px;
}
select.input-style {
  height: 40px;
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
ul.doted-ul {
  li {
    position: relative;
    padding-left: 25px;
    &::before {
      content: "\f192";
      font-size: 16px;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.max-w-md {
  width: 100%;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}
