.social-networks {
  display: flex;
  align-items: center;
  li {
    margin-right: 10px;
    a {
      display: block;
      color: $white;
      font-size: 20px;
      &:hover{
          scale: 1.1;
      }
      &.btn:hover{
        color: $primary;
      }
    }
  }
}
.grecaptcha-badge{
  @media screen and (max-width: 1440px) {
    opacity: .3;
  }
  @include under-md{
    opacity: .2;
  }
}