#about-page {
  .text-section {
    background: $black;
    min-height: 50vh;
    display: flex;
    align-items: center;
    .about-us-qna{
      position: relative;
      padding-bottom: 10px;
      h2{
        cursor: pointer;
      }
      p{
        visibility: hidden;
        height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        transition: .3s all ease-in-out;
        &.shown-qna{
          visibility: visible;
          height: auto;
          padding: 10px 0;
          opacity: 1;
          overflow: initial;
        }
      }
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right, rgba($white, 0), rgba($white, .5), rgba($white, 0));
      }
    }
  }
  .gallery-section {
    .gallery-holder {
      padding-left: 50px;
      padding-right: 50px;
      column-count: 6;
      column-gap: 30px;
      a {
        position: relative;
        img {
          display: inline-block;
          width: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          z-index: 1;
          background: $primary;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
        }
        &::after {
          content: "\f06e";
          font-family: "Font Awesome 5 Free";
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 92px;
          opacity: 0;
          color: $white;
          @include under-lg{
              font-size: 64px;
          }
        }
        &:hover {
          &::before {
            opacity: 0.6;
          }
          &::after {
            opacity: 1;
          }
        }
      }
      @include under-lt {
        column-count: 5;
      }
      @include under-xl {
        column-count: 4;
      }
      @include under-lg {
        column-count: 3;
      }
      @include under-sm {
        column-count: 2;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .end-text-section {
    background: linear-gradient(to right, $primary, $primary-dark);
    display: flex;
    align-items: center;
    min-height: 40vh;
  }
}
